<div class="carousel">
  <div class="carousel-inner justify-center">
    <div class="carousel-item active"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1717451255/jslogo_cd0loh.png" alt="Icon 1" class=""></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1717451271/reactlogo_yjikzx.png" alt="Icon 2"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1717451261/csslogo_anvpqd.png" alt="Icon 3"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1717451266/htmlogo_zwmuix.png" alt="Icon 4"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1720643918/nodejs_logo_uysn23.png" alt="Icon 5"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1720641398/nex.js_logo_xzttaa.png" alt="Icon 6"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1721941559/oudpnsisu5gdx7bv2wnt.png" alt="Icon 7"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1721942766/khqpir9ns1ypl7v2r7lx.svg" alt="Icon 8"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1721942882/vm1sj9dhrno3jqyjilty.svg" alt="Icon 9"></div>
    <div class="carousel-item"><img src="https://res.cloudinary.com/dqt0isvyc/image/upload/v1721943158/sqty369hxxuorrslmtcc.png" alt="Icon 10"></div>
    <!-- Agrega más elementos según sea necesario -->
  </div>
</div>

<style>

.carousel{
  display: flex;
  flex:auto;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

  .carousel-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: -20%;
    margin-bottom: -40%
  }

  .carousel-item {
    flex: 0 0 auto;
    margin-left: 2%;
    padding: 3%; /* Espacio entre las imágenes */
    
  }

  .carousel-item:last-child {
    margin-right: 50px /* Eliminar margen derecho para el último elemento */
  }

  .carousel-item img {
   /* Ancho fijo */
    height: 140px; /* Altura fija */
    object-fit: cover; /* Ajustar imagen para que llene el contenedor */
  }
  
</style>