<div class="carousel">
  <div class="carousel-inner justify-center">
    <div class="carousel-item active"><img src="https://asset.cloudinary.com/dqt0isvyc/8e9a5709e4d2bf58adb8a1fb4a5529c8" alt="Icon 1" class=""></div>
    <div class="carousel-item"><img src="https://asset.cloudinary.com/dqt0isvyc/253256db7b63fcaa0b3ab6bd35ecfdb2" alt="Icon 2"></div>
    <div class="carousel-item"><img src="https://asset.cloudinary.com/dqt0isvyc/5c09b24ae0c89b77a6b07a6612f3be57" alt="Icon 3"></div>
    <div class="carousel-item"><img src="https://asset.cloudinary.com/dqt0isvyc/bb104adeb8bfe4ecf914e34ffb655cb9" alt="Icon 4"></div>
    <div class="carousel-item"><img src="https://asset.cloudinary.com/dqt0isvyc/1a0609233607dba11287a54296485aee" alt="Icon 5"></div>
    <div class="carousel-item"><img src="https://asset.cloudinary.com/dqt0isvyc/6f82270e3dc3746628e487e26f74e125" alt="Icon 6"></div>
    <!-- <div class="carousel-item"><img src="/public/foto/reduxlogo.png" alt="Icon 7"></div> -->

    <!-- Agrega más elementos según sea necesario -->
  </div>
</div>

<style>
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    flex: 0 0 auto;
    margin-right: 20px; /* Espacio entre las imágenes */
  }

  .carousel-item:last-child {
    margin-right: 0; /* Eliminar margen derecho para el último elemento */
  }

  .carousel-item img {
    width: 210px; /* Ancho fijo */
    height: 230px; /* Altura fija */
    object-fit: cover; /* Ajustar imagen para que llene el contenedor */
  }
  
</style>