


<header class="fixed top-0 left-0 right-0 flex justify-center items-center py-3 w-[1120px] mx-auto bg-black z-50">
    <!-- <img class="rounded-full w-12 h-12" src="https://avatars.githubusercontent.com/u/124820124?v=4" alt="feli_foto"><img> -->
    <nav class="flex flex-row gap-x-10 text-teal-200 opacity-80">
        
            <a href="#inicio">Inicio</a>
            <a href="#conocimiento">Conocimiento</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#contact">Contactame</a>
    </nav>
</header>