---
import Header from '../components/Header.astro';
import "@fontsource-variable/jetbrains-mono"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	
	html {
		font-family: "JetBrains Mono Variable", system-ui, sans-serif;
		
	}
	
	body {
		background-image: url('https://res.cloudinary.com/dqt0isvyc/image/upload/v1732903760/tjxp85wnjwl31n2emhzp.jpg'),
		radial-gradient(125% 125% at 50% 10%, #00000052 40%, #63e 100%);
        background-attachment: fixed;
		background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
        color: hsl(240, 58%, 22%);
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	
    background: radial-gradient(125% 125% at 50% 10%, #00000048 40%, #63e 100%);
	background-image:  url('https://res.cloudinary.com/dqt0isvyc/image/upload/v1732903760/tjxp85wnjwl31n2emhzp.jpg');
	background-blend-mode: overlay;
}

</style>
